.row
  .col-md-3
    %p
      .list-group Categories:
      -categories.each do |c|
        - active_css = category.name == c.name ? "active" : ""
        =link_to c, class: "list-group-item #{active_css}" do
          %span.glyphicon.glyphicon-list
          =c.name
    %input#hideshow{:type => "button", :value => "Add product", :class => 'btn btn-success'}
  .col-md-9
    %p
      .list-group Products:
      - category.products.each do |product|
        = link_to(product.title, category_product_path(category, product), class: 'list-group-item')

.row.col-md-9.col-md-offset-3
  #content{:style => "display: none;", :class => "well well-lg"}
    %p
      %h3 New product
      = render 'products/form'

.row
-if user_signed_in? && current_user.admin?
  =link_to "Edit", edit_category_path(category), class: 'btn btn-default'
  \|
= link_to "Back", categories_path, class: 'btn btn-primary'